NODE_ENV=
PORT=
APP_DATABASE_URL=mongodb://localhost:27017/inventor_app?retryWrites=true&w=majority
LOG_DATABASE_URL=mongodb://localhost:27017/inventor_log?retryWrites=true&w=majority
JWT_SECRET=
JWT_EXPIRES=
RATE_LIMIT_REQUEST_SIZE=
RATE_LIMIT_TTL=
REDIS_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
BASE_URL=
