<html lang='en'>
  <head>
    <title>Lead Application</title>
  </head>
  <body>
    <p>Hello!
      <br />
      You have been invited to be a lead on Inventors. Please click the link to
      change your password and update your details
      {{link}}
      <br />
      Please use 'Inventors1234' to login
    </p>
  </body>
</html>