<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Inventors</title>
</head>
<body>
  <p>Hello {{firstName}} {{lastName}},</p>

  <p>Welcome to the Inventors developer community! We're excited to have you on board.</p>

  <p>Your account has been created with the email address <strong>{{email}}</strong>.</p>

  <p>To get started, please verify your email address using the confirmation code we just sent you in a separate email.</p>

  <p>Thank you,</p>
  <p>Inventors Team</p>
</body>
</html>
