<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lead Application Received</title>
</head>
<body>
<p>Hello {{firstName}},</p>

<p>We have received your application for the <strong>{{position}}</strong> lead position in the Inventors community.</p>

<p>Our team will review your application and get back to you shortly. Please note that you will not be able to submit
  another application for the next 3 months.</p>

<p>Thank you for your interest in contributing to the Inventors community!</p>

<p>Thank you,</p>
<p>Inventors Team</p>
</body>
</html>
